{% extends 'todo/base.html' %}

{% block content %}

<ul>
    {% for todo in completed_todos %}
    <li>
        <a href="{% url 'viewtodo' todo.id %}">
            {% if todo.high_importance %}
                <b>
            {% endif %}
                {{ todo.date_completed|date:'M j Y H:i' }} - {{ todo.title }}
            {% if todo.high_importance %}
                </b>
            {% endif %}
            {% if todo.memo %}
                - {{ todo.memo }}
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
